<div class="row">
    <div class="col-md-12">
        <div class="panel-body wrapper">


            <form id="edit_FILE" name="edit_FILE">


                <div class="form-group">
                    <label class="control-label">{name_file_template}:</label>
                    <input id="path" class="form-control validate[required]" name="path" type="text">
                </div>


                <textarea style="height:800px" class="form-control" id="filebody" cols="150" rows="30"
                          name="filebody"></textarea>


                <a class="btn btn-success m-b-sm save">{save}</a>


            </form>

        </div>
    </div>
</div>