{%section:_CONTENT%}

{%F:#tpl(TMS:load({"module":"content","prefix":"MODULES","path":"content/tpl/commonSections.html"}))%}

<div class="row">
    <div class="col-md-9">
        <div class="panel-body wrapper">
            {%if('{F:action}'=='edit')%}

            <form id="edit_CONTENT" name="edit_CONTENT">
                {%else%}

                <form id="create_CONTENT" name="create_CONTENT">
                    {%endif%}

                    <div class="btn-group">
                        <button class="btn btn-info btn-switch" data-target="object-data" type="button">{content_data}
                        </button>
                        <button class="btn btn-switch" data-target="meta-data" type="button">{seo_data}</button>
                    </div>

                    <div class="m-t-sm meta-data hide">
                        {%F:@t(TMS:parse({"section":"seoparams"}))%}
                    </div>

                    <div class="m-t-sm object-data">
                        <div class="form-group">
                            <h5>{content_name}</h5><input id="Name" name="Name"
                                                          class=
                                                                  "inp validate[required] form-control"
                                                          placeholder="">
                        </div>
                        {%if('{F:action}'!='edit')%}

                        <div class="form-group">
                            <h5>{category_article}</h5>

                            <div class="input-group">
                                <input id="ancestor" name="ancestor" readonly
                                       class="form-control validate-selection xoad-ignore">
                                <span class="input-group-btn"><a href="#"
                                                                 data-wintext="{content_situation}" data-winwidth=
                                                                         "500" data-on-data-return=
                                                                         "content.onTreeDialogReturn" data-callback=
                                                                         "content.onDialogGroup" data-destination=
                                                                         "ancestor" data-topindex="45" data-info=
                                                                         "_CONTENTGROUP" class="xList btn btn-default">
                  {choose}</a> <input class="form-control" name=
                                        "ancestorId" id="ancestorId" type=
                                              "hidden"></span>
                            </div>
                        </div>
                        {%endif%}

                        <div class="form-group">
                            <h5>{content_template}</h5><select class=
                                                                       "form-control" name="Template" id="Template">
                        </select>
                        </div>
                    </div>

                </form>

                <form class="object-data" id="dynamicFieldsForm" name="dynamicFieldsForm">
                    <div id="dynamicFields"></div>
                </form>

                <a href="#" class="btn btn-success save">{save}</a>

        </div>
    </div>
</div>

{%endsection:_CONTENT%}
