{%section:_CAMPAIGN%}


<div class="m-t-lg m-l-sm">

    <div class="col-sm-8">
        <div class="panel-body">
            {%if('{F:action}'=='edit')%}

            <form id="edit_CAMPAIGN" name="edit_CAMPAIGN">
                {%else%}

                <form id="create_CAMPAIGN" name="create_CAMPAIGN">
                    {%endif%}


                    <div class="m-t-sm object-data">

                        <div class="form-group">
                            <label>{alias_campaign}</label><input id="Alias" name="Alias"
                                                               class="validate[required] form-control" placeholder="">
                        </div>




                    </div>

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>{date_start}</label>

                                <div class="input-group">
                                    <input id="start" name="start" type="text"
                                           data-format="dd/MM/yyyy hh:mm:ss" size="24"
                                           class="datepicker-input form-control">
                                    <span class="add-on input-group-btn">
                      <a class=" btn btn-default">      <i data-time-icon="fa fa-clock-o"
                                                           data-date-icon="fa fa-calendar" class=""></i> </a>
                   </span>

                                </div>
                            </div>


                            <div class="form-group">
                                <label>{end_date}</label>
                                <div class="input-group">
                                    <input name="end" id="end" type="text"
                                           data-format="dd/MM/yyyy hh:mm:ss" size="23"
                                           class="datepicker-input form-control">
                                    <span class="add-on input-group-btn">
                      <a class="btn btn-default">      <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"
                                                          class=""></i> </a>
                   </span>

                                    <span class="input-group-btn">
                                             <a class="clearNearest btn btn-default"> <i class="fa fa-times"></i></a>
                   </span>

                                </div>
                            </div>
                        </div>

                    </div>


                    <a href="#" class="btn btn-success save">{apply}</a>

                    {%if('{F:action}'=='edit')%}
                    <a class="btn btn-primary saveback" href="#">{save}</a>
                    {%endif%}

        </div>

        </form>

    </div>


{%endsection:_CAMPAIGN%}
