{%section:_CATGROUP%}
{%F:#tpl(TMS:load({"module":"catalog","prefix":"MODULES","path":"catalog/tpl/commonSections.html"}))%}
{%F:#indexationPermission(module.catalog.back:getPermission({"permission":"objectIndexation"}))%}

{%if('{F:action}'=='edit')%}

<form id="edit_CATGROUP">
    {%else%}
    <form id="create_CATGROUP">
        {%endif%}

        <div class="panel-body col-md-12 col-lg-10">
            <div class="btn-group m-t-md m-b-sm">
                <button class="btn btn-info btn-switch" data-target="object-data" type="button">{object_data}</button>
                
                    <button class="btn btn-switch" data-target="meta-data" type="button">{seo_data}</button>
                
                {%if('{F:action}'=='edit')%}
                
                    {%if({F:indexationPermission})%}
                        <button class="btn btn-switch" data-target="index-data" type="button">{indexing}</button>
                    {%endif%}
                
                {%endif%}
            </div>


            <div class="m-t-sm meta-data hide">

                {%F:@t(TMS:parse({"section":"seoparams"}))%}

            </div>

            {%if('{F:action}'=='edit')%}
            <div class="m-t-sm index-data hide">

                <div class="form-group"><label class="control-label">{index_params}:</label>

                    <input id="IndexParams" class="form-control" name="IndexParams" type="text">
                </div>
                <div class="form-group"><label class="control-label">{index_params_sku}:</label>


                    <input id="IndexParamsSku" class="form-control" name="IndexParamsSku" type="text">
                </div>

                <div class="checkbox i-checks">
                    <label>
                        <input id="isFullIndex" name="isFullIndex" type="checkbox"/>
                        <i></i> {isFullIndex}</label>
                </div>


                <a class="btn btn-warning m-b-sm index">{index_category}</a>
            </div>
            {%endif%}

            <div class="m-t-sm object-data">
                <div class="form-group">
                    <label class="control-label">{name_of_the_category}:</label>
                    <input id="Name" class="form-control validate[required]" name="Name" type="text">
                </div>

                {%if('{F:action}'!='edit')%}
                <div class="form-group">
                    <div class="input-group">
                        <input id="ancestor" name="ancestor" readonly
                               class="form-control validate-selection xoad-ignore">
                        <span class="input-group-btn"><a href="#"
                                                         data-wintext="{catobj_situation}" data-winwidth="500"
                                                         data-callback="catalog.onDialogGroup"
                                                         data-destination="ancestor" data-topindex="45"
                                                         data-info="_ROOT,_CATGROUP" class="xList btn btn-default">
              {choose}</a> <input name="ancestorId" id="ancestorId"
                                  type="hidden"></span>
                    </div>
                </div>
                {%endif%}

                <div class="form-group">
                    <label class="control-label">{object_type}:</label>
                    <select id="PropertySetGroup" class="form-control validate[required]" name="PropertySetGroup"
                            type="text"></select>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                <div class="row properties-holder">
                    <div class="left col-md-12"></div>
                    <div class="right col-md-12"></div>
                </div>

            </div>
            <a class="btn btn-success m-b-sm save">{save}</a>
        </div>
    </form>

    {%endsection:_CATGROUP%}
  
